<%= form_with(model: comment, local: true, url: "/comments") do |form| %>

  <div class="field form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class: "form-control", rows: "3", width: "100px"; %>
  </div>

    <%= form.hidden_field :post_id , value: @post.id %>

  <div class="field form-group">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.all, :id, :name,{} ,{ class: "form-control"} %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-dark" %>
  </div>
<% end %>